.admin-header-container{
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

.admin-form-button{
  color:white;
  width: 150px;
  height: 40px;
  background-color: grey;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 13px;
  margin-top: 10px;
}

.admin-form-button:hover{
  background-color:rgb(173, 173, 173);
}

.info-box-admin{
    color:black;
    padding-left: 40px;
    padding-bottom: 10px;
    text-decoration: none;
    position: relative;
}

.info-box-admin span{
    padding: 50px;
    font-size: 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    font-weight: bold;
}

.info-box-admin span:hover{
    color:#698484;
}

.search-admin{
    width: 500px;
    height: 40px;
    margin-left: 60px;
    margin-top: 25px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 20px;
    transition: border-color 0.3s;
    background: white;
    text-align: left;
    font-size: 25px;
    color: black;     
}

.list-users{
   height: 400px;
   overflow: auto; 
   color:black;
   border: 1px solid black;
   border-radius:8px;
   width: 1350px;
   margin-top: 20px;
   margin-left: 60px;
   margin-bottom: 30px;
   animation: pageLoad 0.6s ease-out;
}


.header-list{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
   padding: 10px;
   border-bottom: 2px solid black;
   font-weight: bold;
}

.header-list span{ 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color:black;
}


.list-items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
   padding: 10px;
   border-bottom: 1px solid black;
   animation: pageLoad 0.6s ease-out;
}

.list-items:last-child {
  border-bottom: none;
}


.header-position-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    padding: 10px;
    border-bottom: 2px solid black;
    justify-items: center;
    font-weight: bold
}

.header-position-list span{
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color:black;
}

.list-position{
   height: 400px;
   overflow: auto; 
   color:black;
   border: 1px solid black;
   border-radius:8px;
   width: 1350px;
   margin-top: 20px;
   margin-left: 60px;
   margin-bottom: 30px;
}


.list-position-items{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr; 
   padding: 10px;
   justify-items: center; 
}


.add-user-button{
  margin-left: 20px;
  border-radius:30px;
}

.add-user-button:hover{
  background-color: rgb(150, 150, 150);
}

.cross{
    border: none;
    background: none;
    cursor: pointer;
    color:black;
}

.page-button{
  display: flex;
  gap: 15px;
  margin-left: 60px;
  color: black;
}


@keyframes pageLoad {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}